<% include header %>

 <!-- <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse --> -->
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit top-left">
        <h1>微融网，网聚金融!</h1>
        <p>微融网作为国内首家很牛逼的公司，会一直牛逼下去的哈哈哈哈哈阿斯顿经费拉斯加对方拉近拉斯蒂芬卢卡斯的两份接阿拉斯加地方阿拉斯加东方丽景阿里斯顿附近拉丝的</p>
        <p><a href="#" class="btn btn-primary btn-large">了解更多 &raquo;</a></p>
      </div>
      <div class="span4">
        <form class="form-signin">
        <h2 class="form-signin-heading">登录你的微融账号</h2>
        <input type="text" class="input-block-level" placeholder="输入你的邮箱">
        <input type="password" class="input-block-level" placeholder="密码">
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> 记住账号
        </label>        
        <button class="btn btn-large btn-success" type="submit">注册</button>
        <button class="btn btn-large btn-primary" type="submit">登录</button>
      </form>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>稳定的财源</h2>
          <p>微融网就阿里斯顿经费路径阿里斯顿发垃圾塑料袋法拉盛两地分居拉丝机东方丽景阿斯顿浪费阿斯利康大家发垃圾死定了风景阿里斯顿减肥垃圾是两地分居阿斯顿减肥啦数据斯顿经费路径阿里斯顿发垃圾塑料袋法拉盛两地分居拉丝机东方丽景阿斯顿浪费阿斯利康大家发垃圾死定了风景阿</p>
          <p><a class="btn" href="#">查看详情 &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>靠谱的队伍</h2>
          <p>微融网就阿里斯顿经费路径阿里斯顿发垃圾塑料袋法拉盛两地分居拉丝机东方丽景阿斯顿浪费阿斯利康大家发垃圾死定了风景阿里斯顿减肥垃圾是两地分居阿斯顿减肥啦数据斯顿经费路径阿里斯顿发垃圾塑料袋法拉盛两地分居拉丝机东方丽景阿斯顿浪费阿斯利康大家发垃圾死定了风景阿</p>
          <p><a class="btn" href="#">查看详情 &raquo;</a></p>
       </div>
        <div class="span4">
          <h2>一流的服务意识</h2>
          <p>微融网就阿里斯顿经费路径阿里斯顿发垃圾塑料袋法拉盛两地分居拉丝机东方丽景阿斯顿浪费阿斯利康大家发垃圾死定了风景阿里斯顿减肥垃圾是两地分居阿斯顿减肥啦数据斯顿经费路径阿里斯顿发垃圾塑料袋法拉盛两地分居拉丝机东方丽景阿斯顿浪费阿斯利康大家发垃圾死定了风景阿</p>
          <p><a class="btn" href="#">查看详情 &raquo;</a></p>
        </div>
      </div>


<% include footer %>